.sample-manage-container {
    margin-bottom: 10px;
}

.name-sample-management {
    font-size: 20px;
    font-weight: bold;
    color: #0984e3;
    margin: 0 !important;
}

.inf-sample {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 15px;
}

.select-sample {
    background: linear-gradient(to right, #0984e3, #489aec);
    color: aliceblue;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-right: 20px;
}

.option-item {
    background-color: #489aec;
}

.sample-controller {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.sample-list {
    width: 95%;
    min-height: 330px;
    max-height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    width: 98%;
    margin-left: 25px;
    overflow-y: auto;
}

.btnEdit {

    border: none;
    padding: 8px;
    width: 8vw;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #0984e3, #489aec);
    color: aliceblue;
}

.search-sample {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-sample input {
    padding: 3px;
    width: 20vw;
    max-width: 25vw;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 0;
    height: 30px;
    margin-right: 5px;
    background-color: rgb(247, 243, 240);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-search-edit {
    width: 50px;
}

button {
    padding: 4px !important;
    outline: none !important;
}

.sample-image {
    width: 95px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: fit-content;
    align-self: baseline;
    flex-basis: auto;
}

.sample-list-container {
    padding-top: 10px;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(219, 233, 245);
    margin-top: 20px;
    border-radius: 5px;
    min-height: 300px;
    background-color: antiquewhite;
}

.sample-image p {
    margin: 0;
    color: black;
}

.sample-image img {
    width: 90px;
    text-align: center;
    border-radius: 5px;
}

.sample-detail {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sample-image-detail {
    flex: 1;
    margin-right: 20px;

}

.sample-detail img {
    width: 30vw;
    border-radius: 10px;
}

.sample-child-edit {
    margin-bottom: 10px;
}

.sample-inf-container {
    flex: 2;
    margin-left: 20px;
}

.sample-inf {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}

.sample-inf-child lable {
    display: inline-block;
    min-width: 90px;

}

.sample-inf-child input {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #74b9ff;
    outline: none;
    width: 20vw;
    border-radius: 5px;
}


.boundingbox-container {
    margin-top: 10px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.add-sample-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.post-image {
    position: relative;
    flex: 1;
    margin-left: 15px;
}

.post-image img {
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 5px;
}

.input-upload {
    z-index: 9999;
    height: 60vh;
}

.main-add-sample {
    height: fit-content;
}

.add-boundingbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sample-container h3 {
    margin-left: 20px;
    color: #55a6f7;
}

.add-sample-controller {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}